name: "Build and Test"

on: 
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # Runs at midnight UTC on the 1st of every month

run-name: "Build and Test Library"

jobs:
  build_linux:
    if: ${{ github.event_name != 'push' }}
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.ref }}
      
      - name: Install build requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build g++

      - name: Build Library
        run: |
          # cmake -S . -B build -G Ninja -DENABLE_TESTS=ON -DCMAKE_INSTALL_PREFIX="$PWD/install"
          # cmake --build build -j$(nproc)
          make -j$(nproc)

      - name: Run Tests
        run: |
          #ctest --output-on-failure --test-dir build
          make test

      # - name: Install Library
      #   run: cmake --install build


  build_windows:
    if: ${{ github.event_name != 'push' }}
    runs-on: "windows-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.ref }}
      
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            git
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja

      - name: Install make (MSYS2 shell)
        shell: msys2 {0}
        run: |
            pacman -S --noconfirm make   

      - name: Build (Ninja in MSYS2 shell)
        shell: msys2 {0}
        run: |
          # cmake -S . -B build -G Ninja -DENABLE_TESTS=ON -DCMAKE_INSTALL_PREFIX="C:/spline/install"
          # cmake --build build -j
          make -j$(nproc)

      - name: Run Tests (MSYS2 shell)
        shell: msys2 {0}
        run: |
          # export PATH="$PWD/build/lib:$PWD/build/bin:$PATH"
          # ctest --output-on-failure --test-dir build
          export PATH="$PWD/lib:$PATH"
          make test

      # - name: Install (MSYS2 shell)
      #   shell: msys2 {0}
      #   run: cmake --install build


  build_macos:
    runs-on: "macos-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.ref }}
      
      - name: Install Dependencies
        run: |
          brew update
          brew install cmake ninja

      - name: Build
        run: |
          # cmake -S . -B build -G Ninja -DENABLE_TESTS=ON -DCMAKE_INSTALL_PREFIX="$PWD/install"
          # cmake --build build -j
          make -j$(sysctl -n hw.ncpu)

      - name: Debug prints
        run: |
          ls build/
          uname -m
          ls -l test/../lib
          file test/../lib/libcon2020.*
          lipo -info test/../lib/libcon2020.* 2>/dev/null || true
          nm -gU test/../lib/libcon2020.* | grep -E "Con2020::SetCartOut|Con2020::SetCartIn|Con2020::SetEqType|Con2020::Field|_con2020" || true


      - name: Run Tests
        run: |
          #ctest --output-on-failure --test-dir build
          make test

      # - name: Install
      #   run: cmake --install build

